/* custom  */
.color-banner.bg-primary {
  padding-top: 36px;
  padding-bottom: 36px;
}

.basic-page-wrap {
  padding-top: 67px;
  padding-bottom: 67px;
}

.swiper-button-prev {
}

.btn {
}

textarea {
  margin-top: 14px;
  margin-bottom: 14px;
}

/* footer dark */
.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}


/* hero slider */

.swiper-pagination {
  position: relative;
  margin: 0 20px;
}

section {
  margin-bottom: 60px;
}

.hero-content p {
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 1px 5px #969696;
}

@media (max-width: 991.98px) {
  .hero-content p {
    font-size: 1rem;
  }
}

.swiper-container .swiper-slide img {
  width: 100%;
}

.swiper-container .slider-controls {
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 1;
}

.swiper-container .slider-controls .button-next, .swiper-container .slider-controls .button-prev {
  cursor: pointer;
}

#swiper-hero .swiper-slide {
  max-height: 740px;
}

#swiper-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.slide-text-block{
    background-color: #2525259e;
    padding: 20px;
}

/* map-clean */
.map-clean {
  color: #313437;
  background-color: #fff;
}

.map-clean p {
  color: #7d8285;
}

.map-clean h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .map-clean h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.map-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.map-clean iframe {
  background-color: #eee;
}


/* simple slider */
.simple-slider .swiper-slide {
  /*height: 500px;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width:767px) {
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    display: none;
  }
}

@media (max-width:767px) {
  .simple-slider .swiper-slide {
    /* height: 360px; */
  }
}

.swiper-pagination {
  position: relative;
  margin: 0 20px;
}

/* fontawesome overrides */
.fab.fa-bitcoin:before {
    content: "\f379"
}

.far.fa-calendar:before,
.fas.fa-calendar:before {
    content: "\f133"
}

.far.fa-clipboard:before,
.fas.fa-clipboard:before {
    content: "\f328"
}

.fab.fa-facebook-f:before {
    content: "\f39e"
}

.fab.fa-google-plus:before {
    content: "\f2b3"
}

.fas.fa-hotel:before {
    content: "\f594"
}

.fab.fa-linkedin:before {
    content: "\f08c"
}

.fas.fa-reply:before {
    content: "\f3e5"
}

.fas.fa-thermometer:before {
    content: "\f491"
}

.fab.fa-vimeo:before {
    content: "\f40a"
}

.far.fa-window-close:before,
.fas.fa-window-close:before {
    content: "\f410"
}

.fab.fa-youtube-square:before {
    content: "\f431"
}